@import "tailwindcss";

@theme {
    --color-app-link: #5ee9df;
    --color-app-link-hover: #93fdf5;
}

body {
    background: #0a0a0a;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

a,
a[data-router] {
    color: var(--color-app-link);
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover,
a[data-router]:hover {
    color: var(--color-app-link-hover);
    text-decoration: underline;
}
